<div class="container pt-3">
  <div class="page-header">
    <div class="table-header-wrapper d-inline-flex align-items-center gap-1">
      <a
        (click)="goToBack()"
        class="text-decoration-none text-primary"
        type="button"
      >
        <i class="icon-arrow-left" type="button"></i>
      </a>
      <h2 class="page-header_title">{{ roleName }} Staff List</h2>
    </div>
    <div class="page-header-actions">
      <button class="btn btn-primary">
        <i class="icon-add me-2 mt-1"></i>
        <span class="align-self-center" (click)="addStaff()">
          Create Staff</span
        >
      </button>
    </div>
  </div>

  <div class="card">
    <div class="card-body w-50">
      <app-filter-table (filterTrigger)="filterList($event)"></app-filter-table>

      <table class="table mt-4 mb-0">
        <tbody>
          @for (staff of assigedStaff$ | async | filter: searchTerm; track
          staff.staffId) {
          <tr>
            <th scope="row">{{ staff.roleId }}</th>
            <th scope="row ">
              <p class="text-center">{{ staff.name }}</p>
            </th>
            <th scope="row">
              <div
                class="tooltip-container"
                appTooltip="You can't perform this action."
              >
                <button
                  type="button"
                  class="btn btn-danger float-end"
                  (click)="removeStaff(staff.staffId)"
                  permissionCheck
                  [mainGroup]="'standard'"
                  [subGroup]="'actions'"
                  [action]="'delete'"
                >
                  <i class="icon-delete"></i> Remove
                </button>
              </div>
            </th>
          </tr>
          } @empty {
          <tr>
            <td colspan="5" class="text-center py-3">
              <span class="mb-2 d-inline-block">
                {{ roleName }} don't have any assigned staff
              </span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
