.rms-form-group {
  margin-bottom: $rms-spacing-base * 3;

  .ng-invalid {
    &.ng-touched {
      @include border-property(all, 1, solid, $rms-cs-danger);
      border-radius: $rms-border-radius-base;
    }
  }
}

.rms-error {
  &_text {
    margin-top: $rms-spacing-base;
    font-size: $rms-fs-xs;
    color: $rms-cs-danger;
  }
}


.form-group {
  &:focus-within {
    .form-label {
      color: $rms-secondary;
    }
  }
}

.rms-error {
  &_text {
    margin-top: $rms-spacing-base;
    font-size: $rms-fs-xs;
    color: $rms-cs-danger;
    text-transform: capitalize;
  }
}


.disabled-checkbox {
  cursor: not-allowed;
  pointer-events: none;
  &:checked{
    background-color:$rms-cs-dark-500;
    opacity: 0.4;
    cursor: not-allowed;
  }
 }

// Form Check
.form-check {
  &-plan {
    padding-left: calc($rms-spacing-base * 2 - 4px);

    .form-check-input {
      float: right;
    }

    .form-check-label {
      color: $rms-cs-dark-300;
      display: inline-flex;
      justify-content: space-between;
      flex-direction: column;

      @include media-breakpoint-up(md) {
        width: calc(100% - 40px);
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    .badge {
      line-height: normal;
    }
  }

  &-label {
    &_info {
      font-size: $rms-fs-xs;
      font-weight: $rms-fw-600;
      padding: 2px 8px;
    }
  }

  input:focus ~ label,
  input:valid ~ label {
    top: 5px;
    left: 40px;
    font-size: $rms-fs-base;
    color: $rms-cs-dark-400;
  }
}
