<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">RMS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Role Management</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/permission"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Permission</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/staff"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Staff Management</a
          >
        </li>

        <li
          class="nav-item"
          routerLink="/audit-reports"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/audit-reports">Audit & Reports</a>
        </li>
      </ul>
    </div>
    <div class="dropdown ms-3">
      <a
        class="btn btn-avatar dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Avatar Name
      </a>

      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
