%flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Vertical
%flex-y-center {
    display: flex;
    align-items: center;
}

// Horizontal
%flex-x-center {
    display: flex;
    justify-content: center;
}
