// Button
$rms-btn-padding-base: 12px;
$rms-btn-radius: 4px;

// Spacing
$rms-spacing-base: 8px;
$rms-border-radius-base: 4px;

// Header / Footer
$rms-header-height: 50;
$rms-footer-height: 0;

// Padding
$rms-content-padding-top: 120px;


//Margin
$rms-page-ml: 4rem; //64px

// Nav 
$rms-navbar-width: 17.5rem; //280px

// Form
$rms-input-radius: 4px;

// Table
$rms-border-radius: 4px;

// Scrollbar
$rms-scrollbar-radius-base: 8px;

// Line Height
$rms-lh-base: 1.225rem;

// Card
$rms-card-radius: 4px;
